@page "/Storage/Logs"
@inject Services.Storage.EventLogStore EventLogStore
@inject NavigationManager NavManager
@inject IDialogService DialogService

<h3>Log Storage</h3>
<MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Import file - CSV
</MudButton>
<MudSimpleTable Elevation="0" Hover="true">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Modified</th>
            <th>Mine</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var logFile in _logs)
        {
            <tr>
                <td>
                    <MudText Typo="Typo.subtitle2">@logFile.Metadata.Name</MudText>
                </td>
                <td>
                    <MudText Typo="Typo.subtitle2">@logFile.Metadata.Size</MudText>
                </td>
                <td>
                    <MudText Typo="Typo.subtitle2">@logFile.Metadata.Modified</MudText>
                </td>
                <td>
                    <MudFab Icon="@Icons.Material.Outlined.PrecisionManufacturing" Color="Color.Primary" OnClick='() => NavManager.NavigateTo("/Mine/Heuristic/" + logFile.Metadata.Name)'/>
                </td>
                <td>
                    <MudFab Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="() => RemoveLog(logFile.Metadata.Name)"/>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    private List<EventLogFile> _logs = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadLogs();
    }

    private async Task LoadLogs()
    {
        _logs = await EventLogStore.GetAll();
    }
    
    private async Task OpenDialog()
    {
        await DialogService.Show<DialogLogUplaod>("Import file - CSV").Result;
        await LoadLogs();
    }

    private async Task RemoveLog(string logFileName)
    {
        await EventLogStore.Remove(logFileName);
        await LoadLogs();
    }
}